%h1 Listing tickets
- unless @tickets.empty?
  %table.table
    %thead
      %tr
        %th Customer name
        %th Customer email
        %th Subject
        %th Department
        %th Body
        %th
    %tbody
      - @tickets.each do |ticket|
        %tr
          %td= ticket.customer_name
          %td= ticket.customer_email
          %td= ticket.subject
          %td= ticket.department
          %td= ticket.body
          %td= link_to 'Show', ticket
- else
  %h5
    You don't have any tickets          
%br
= link_to 'New Ticket', new_ticket_path, class: 'btn btn-success'