%ol.breadcrumb
  %li
    = link_to "Tickets", tickets_path
  %li.active
    = @ticket.token

= link_to "History", history_ticket_path(@ticket), class: 'pull-right btn btn-info'

%p
  %strong Status:
  = t("tickets.statuses.#{@ticket.status}")
%p
  %strong Customer:
  = "#{@ticket.customer_name} (#{@ticket.customer_email})"
%p
  %strong Subject:
  = @ticket.subject
%p
  %strong Department:
  = @ticket.department
%p
  %strong Body:
  = @ticket.body

= link_to 'Edit', edit_ticket_path(@ticket), class: 'btn btn-default'

- if user_signed_in?
  %hr
  %h3 Add response
  = form_for @ticket, url: reply_ticket_path(@ticket), method: :put do |f|
    .form-group
      = f.label :user_id, 'Reassign to:'
      = f.select :user_id, User.select([:name, :id]).map{|user| [user.name, user.id]}, include_blank: true
    .form-group
      = f.label :status, 'Change ticket status:'
      = f.select :status, Ticket::STATUSES.map{|status| [t("tickets.statuses.#{status}"), status]}
    .field
      = f.label :response, 'Add response:'
      %br
      = f.text_area :response, class: 'form-control'

    .actions
      = f.submit 'Reply', class: 'btn btn-default'